html, body {
    margin: 0;
}
body {
    text-align: center;
}

button {
    font-size: 1.5em;
    margin: 10px 20px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

#results {
    font-size: 1.3rem;
}

#scoreBoard {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
}

#playerScoreDisplay {
    padding: 25px;
}

#computerScoreDisplay {
    padding: 25px;
}

#choiceDisplay {
    font-size: 1.2rem;
}

 #finalScore {
    background-color: black;
    border: 5px solid green;
    color: white;
    font-size: 1.75em;
    margin: 0 auto;
    max-width: 300px;
}

#resetButton {
    background-color: black;
    border: 3px solid green;
    color: white;
    display: block;
}